/* Stylesheet for Assignment #1 */

body {background-image: url("images/html5.png");
      background-repeat: repeat-y;  }

#wrapper {
  width:320px;
  border-style:solid;
  margin:auto;
  border-color:black;
}

#header {
  background-color: skyblue;
  display: inline-block;
  width:320px;
  padding:0;
  border:0;
  margin:0;
  }

#nav {
    background-color: lightgray;
    width:320px;
    padding:0;
    border:0;
    margin:0;
    }


p {font-size: 20px;}

#htmlImg{
  display: block;
}

#socialMedia{
  text-align: right;
}
